includes:
    - phpstan-baseline.neon

parameters:
  level: 9
  # TODO Remove this when PHP 7.4 support is dropped.
  phpVersion: 70400
  tipsOfTheDay: false
  reportUnmatchedIgnoredErrors: false
  treatPhpDocTypesAsCertain: false
  paths:
    - src
    - tests/src
    - config/skeletons
  excludePaths:
    - */vendor/*
    - src/Drupal/PhpUnit/bootstrap.php
